.fl {
    float: left;
}
.fr {
    float: left;
}
.header{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color:rgba(73,73,75);
	height: 60px;
}
.logo{
	 float: left;
	 font-size:30px;
     font-weight:bold;
     color:white;
     margin-top: 10px;
     margin-left:30px;
 }
 .nav li{
 	float: left;
 	padding-bottom: 10px;
 	padding-top: 10px;
 	padding-right: 30px;
 	padding-right: 30px;
 	margin-top: 10px;
 }
 .first{
 	margin-left: 100px;
 }
 .form{
 	margin-top:15px;
 	margin-left: 80px;
 }
 .form * {
    float: left;
}
.form .search {
    width: 250px;
    height: 30px;  
    border: 1px solid white;  
}
.form .submit {
    width: 32px;
    text-align: center;
	margin: 0 auto;
    height: 32px;
    border: 1px solid white;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
}
.myself{
	float: right;
	font-size:13px;
    color:white;
    margin-top: 17px;
    margin-right:40px;
    padding: 5px 10px;
    background-color: red;
}
.myself a{
	color: white;
}
.nav a{
  color:rgba(200,213,213);
}
.nav li:hover>a{
	color:white;
	background-color: rgba(202,202,202);
}
.banner{
	height: 400px;
	background-image: url(../img/202.gif);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}
.prefect{
	color: white;
	font-size: 30px;
	text-align: center;
	padding-top: 150px;
}
.come{
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}
.gesture{
	color: rgba(255,126,29);
	text-align: center;
	padding-top: 50px;
	font-size: 20px;
	font-weight: bold;
}
.belong{
	color:rgba(73,73,75) ;
	font-size: 13px;
	text-align: center;
	padding-top: 10px;
}
.fenge{
	width: 100%;
	height: 30px;
}
.love{
	padding-top: 20px;
	text-align: center;
	color: black;
	font-size: 15px;
}
.album img{
	width: 225px;
	height: 300px;
}
.album{
	width: 1116px;
	text-align: center;
	margin: 0 auto;
}
.one{
	float: left;
	margin-top: 50px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	border: 1px solid black;
	background-color: #f3f5f7;
}
.a{
	margin-top: 20px;
	text-align: center;
}
.text-one{
	width: 225px;
	height: 100px;
	margin-top: 20px;
	border: 1px solid black;
	text-align: center;
	padding-top: 15px;
}
.two{
	float: left;
	margin-top: 50px;
	margin-left: 40px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	border: 1px solid black;
	background-color: #f3f5f7;
}
.text-two{
	width: 225px;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid black;
	text-align: center;
	padding-top: 15px;
}
.b{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.album a{
	color: rgba(255,126,29);
}
.album :hover>a{
     color: black;
}
.footer img{
	width: 50px;
	height: 40px;
	margin-top: 50px;
	margin-left: 600px;
}
.footer {
	height: 200px;
	background-image: url(../img/303.jpg);
	background-repeat: no-repeat;
    background-size: 100% 200px;
	margin-top: 600px;
	text-align: center;
}
.camera{
	margin-right: 600px;
}
.expect{
	text-align: center;
	margin-top: 5px;
}
.the-logo{
	text-align: center;
	margin-top: 10px;
	font-size: 25px;
}
.end{
	margin-top: 50px;
	height: 300px;
	background-color: black;
	width: 100%;
	text-align: center;
}
.the-one{
	float: left;
	width: 600px;
	text-align: center;
	padding-top: 50px;
}
.summary{
	color: white;
	font-size: 17px;
}
.two-logo{
	margin-top: 30px;
	font-size: 35px;
	color: black;
	margin-bottom: 40px;
	color: white
}
.help{
	padding: 10px 20px;
    font-size: 20px;
	border: 1px solid white;
}
.end a{
	color: rgba(255,126,29);
}
.end :hover>a{
     color: white;
}
.the-two{
	float: left;
	color: white;
	padding-left: 200px;
    text-align: center;
    padding-top: 100px;
}
.the-two img{
    width: 20px;
    height: 30px;
}
.iphone li{
	float: left;
}
.weixin{
	padding-top: 50px;
	padding-right: 300px;
}
.weixin li{
	float: right;
}
.num{
	padding-left: 10px;
}
.youxiang{
	padding-top: 50px;
}
.youxiang li{
	float: left;
}
